div.menu {
  background-color: #FAFAFA;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 2px 2px;
  border: 1px solid #D8D8D8;
  width: 95%;
  height: auto;
  border-radius: 2px;
}
