<div class="row justify-content-md-left">
  <div class="col col-lg-6">
    <ngb-accordion  activeIds="petlistpanel">
      <ngb-panel title="Liste des animaux de la clinique" id="petlistpanel">
        <ng-template ngbPanelContent>
          <app-pet-list (onSelectedPet)="refreshPetDetails($event)"></app-pet-list>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Accueil d'un nouvel animal" id="createpetpanel">
        <ng-template ngbPanelContent>
          <app-petform formTitle="Creation"></app-petform>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col col-lg-6">
    <label *ngIf="petDetails === null">
      Waiting for pet display....
    </label>
    <label *ngIf="petDetails">
      {{petDetails.name}}
    </label>
  </div>
</div>
